{% extends "base.html" %}
<!-- 여러가지 필터를 사용 가능 -->
{% load humanize %}
{% block header %}
<script>
    function product_detail(id) {  // 마우스를 올리면 팝업 띄우기 함수
        $.ajax({
            url: "/api/product/" + id,
            success: function (result) {
                $("#product-" + id).popover({
                    html: true,
                    content: result.name + "<br/>" + result.price
                }).popover("show");
            }
        });
    }
    function product_leave(id) {  // 마우스를 치우면 팝업 없애기 함수
        $("#product-" + id).popover("hide");
    }
    $(document).ready(function () {  // 현재 페이지 로딩이 완료가 됬을때 함수를 호출
    });
</script>
{% endblock %}
{% block contents %}
<div class="row mt-5">
    <div class="col-12">
        <table class="table table-light">
            <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">상품명</th>
                    <th scope="col">가격</th>
                    <th scope="col">등록날짜</th>
                </tr>
            </thead>
            <tbody class="text-dark">
                {% for product in product_list %}
                <tr>
                    <th scope="row">{{ product.id }}</th>
                    <!-- 상품명에 상세보기 링크 연결 -->
                    <th><a id="product-{{ product.id }}" onmouseenter="product_detail({{ product.id }});"
                            onmouseleave="product_leave({{ product.id }});"
                            href="/product/{{ product.id }}">{{ product.name }}</a></th>
                    <th>{{ product.price|intcomma }} 원</th>
                    <th>{{ product.register_date|date:"Y-m-d H:i" }}</th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}